<html>
    <head>
        {% include "head.html" %}
    </head>
    <body>
        {% include "nav.html" %}

        <br/>

        <table id="active_games" class="table table-bordered d-flex justify-content-center">
            <tr>
                <th>Active Games</th>
                <th>Players</th>
            </tr>
            {% for game in open_games %}
            <tr>
                <td><a target="_blank" href="/view/{{ game.id }}">{{ game.id }}</a></td>
                <td>{{ game.player_count }}/2</td>
            </tr>
            {% endfor %}
        </table>

        <br/>

        <table id="completed_games" class="table table-bordered d-flex justify-content-center">
            <tr>
                <th>Completed Games</th>
                {% for i in range(1, 3) %}
                <th>Player {{ i }}</th>
                <th>Type {{ i }}</th>
                {% endfor %}
            </tr>
            {% for game in completed_games %}
            <tr>
                <td><a target="_blank" href="/view/{{ game.id }}">{{game.id}}</a></td>
                {% for session in game.unique_sessions %}
                <td><a href="/player/{{ session.player.id }}">{{ session.player.name }}</a></td>
                <td>{% if session.player_type == "human" %}{{ emojis['HUMAN']|safe }}{% else %}{{ emojis['AI']|safe }}{% endif %}{% if session.winner %}{{ emojis['WIN']|safe }}{% endif %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
