<html>
    <head>
        {% include "head.html" %}

        <script>
            function loadCollapse() {
                document.querySelector("#advancedCollapseButton").onclick = () => {$('.collapse').collapse('toggle')}
            }
        </script>
    </head>
    <body onload="loadCollapse()">
        {% include "nav.html" %}

        {% if error %}
        <div class="px-4">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
        {% else %}
        <br/>
        {% endif %}

        <form method="POST">
            <div class="card mx-4 p-4">
            <label for="board_size">Board Size:</label>
            <input class="form-control" type="number" name="board_size" id="board_size" min="3" value="3"/>
            <br/>

            <label for="line_up_size">Line Up Size:</label>
            <input class="form-control" type="number" name="line_up_size" id="line_up_size" min="3" value="3"/>
            <br/>

            <label for="block_count">Blocks:</label>
            <input class="form-control" name="blocks" id="blocks" value=""/>
            <br/>

            <label for="max_time">Max Time:</label>
            <input class="form-control" type="number" name="max_time" id="max_time" min="0" value="1"/>
            </div>

            <br/>

            <div class="card mx-4 p-4">
            <button class="btn btn-dark" type="button" id="advancedCollapseButton">
                Advanced
            </button>

            <div class="collapse" id="advancedCollapse">
            <br/>

            <label>Depths:</label>
            <div class="input-group">
                <input class="form-control" type="number" name="depth1" id="depth1" min="1" value="1"/>
                <input class="form-control" type="number" name="depth2" id="depth2" min="1" value="1"/>
                <input class="form-control" type="number" name="depth3" id="depth3" min="1" value="1"/>
                <input class="form-control" type="number" name="depth4" id="depth4" min="1" value="1"/>
            </div>
            <br/>

            <label for="algorithm">Algorithm:</label>
            <select class="form-control" id="algorithm" name="algorithm">
                <option value="alphabeta">AlphaBeta</option>
                <option value="minimax">MiniMax</option>
            </select>
            <br/>

            <label>Heuristics:</label>
            <div class="input-group">
                <input class="form-control" type="number" name="heuristic1" id="heuristic1" min="1" max="2" value="1"/>
                <input class="form-control" type="number" name="heuristic2" id="heuristic2" min="1" max="2" value="1"/>
                <input class="form-control" type="number" name="heuristic3" id="heuristic3" min="1" max="2" value="1"/>
                <input class="form-control" type="number" name="heuristic4" id="heuristic4" min="1" max="2" value="1"/>
            </div>
            <br/>

            <label for="max_player_count">Player Count:</label>
                <input class="form-control" type="number" name="max_player_count" id="max_player_count" min="2" max="4" value="2"/>
            <br/>
    
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="listed" id="listed">
                <label class="form-check-label" for="listed">
                    Is Public?
                </label>
            </div>
            </div>
            </div>

            <br/>

            <div class="card mx-4 p-4">
                <input class="btn btn-primary" type="submit" value="Start"/>
            </div>
        </form>
    </body>
</html>
