<html>
    <head>
        {% include "head.html" %}

        <script type="text/javascript" src="/game.js"></script>
        <script type="text/javascript" charset="utf-8">
            const GAME_ID = "{{ game.id }}";
        </script>
        <script type="text/javascript" charset="utf-8">
            let socket = io();
            let PLAYER_NAME = null;
            let PLAYER_TILE = null;

            socket.on("connect", () => {
                socket.emit("view", { game_id: GAME_ID });
            });

            socket.on("error", ({ error }) => {
                if(error === "No game with game_id.") {
                    window.location.replace("/");
                } else if(error === "Could not join game.") {
                    PLAYER_NAME = null;
                    document.getElementById("join_container").classList.remove("d-none");
                }

                if(PLAYER_NAME) addTileClick(playHandler);

                set_message(error);
            });

            function joinHandler() {
                let pid = document.getElementById("player_name");
                PLAYER_NAME = pid.value;
                document.getElementById("join_container").classList.add("d-none");
                join(pid.value, GAME_ID);
            }

            socket.on("join", ({ player_name, tile }) => {
                if(player_name === PLAYER_NAME) {
                    PLAYER_TILE = tile;
                }

                if(player_name !== PLAYER_NAME) return;

                set_message("Waiting for Opponent");

                document.getElementById("join_container").classList.add("d-none");
                document.getElementById("board_container").classList.remove("d-none");
            });

            socket.on("win", data => {
                window.location.replace(`/view/${GAME_ID}`);
            });

            function playHandler(event) {
                let tile_id = event.target.id;
                let split = tile_id.split("_");
                let move = [parseInt(split[3]), parseInt(split[2])];
                removeTileClick();
                play(move);
            }

            socket.on("play", ({ tile, emoji_board }) => {
                if(PLAYER_NAME == null) return;

                let message = document.getElementById("message");
                if(tile === PLAYER_TILE) {
                    set_message("Your Turn");
                    addTileClick(playHandler);
                } else {
                    set_message("Opponent's Turn");
                    removeTileClick();
                }

                update_board(emoji_board);
            });
        </script>
    </head>
    <body>
        {% include "nav.html" %}

        <br/>
        <div class="d-flex justify-content-center">
            <div id="message" class="alert alert-dark text-center">
                Join Game
            </div>
        </div>

        
        <div id="board_container" class="d-none">
        <br/>
        {% set board = game.pretty_board %}
        {% include "board.html" %}
        <br/>
        </div>
        

        <div id="join_container" class="mx-4">
            <div class="card p-4">
                <label for="player_name">Player Name:</label>
                <input id="player_name" class="form-control" />
                <br/>
                <button class="btn btn-primary" onclick="joinHandler()">Join</button>
            </div>

            <br/>
            <p class="text-center">OR</p>

            <div class="card p-4">
                <pre class="m-0">python3 main.py client ai --game {{game.id}}</pre>
                <pre class="m-0">python3 main.py client human --game {{game.id}}</pre>
            </div>
        </div>
    </body>
</html>
