<html>
    <head>
        {% include "head.html" %}

        <script type="text/javascript" src="/game.js"></script>
        <script type="text/javascript">
            const GAME_ID = "{{ game.id }}";
        </script>
        <script type="text/javascript" charset="utf-8">
            let socket = io();

            socket.on("connect", () => {
                socket.emit("view", { game_id: GAME_ID });
            });

            socket.on("error", handle_error);

            socket.on("join", ({ player_id, player_name, player_type, socket_id }) => {
                set_message(`${player_name} Joined`)

                let table = document.getElementById("players");
                let row = table.insertRow(-1);
                let cell0 = row.insertCell(-1);
                cell0.id = `player_id_${player_id}`;
                cell0.innerHTML = `<a href="/player/${player_id}">${player_name}</a>`;

                let cell1 = row.insertCell(-1);
                cell1.id = `player_type_${player_id}`;
                cell1.innerHTML = (player_type == "human") ? "{{ emojis['HUMAN']|safe }}" : "{{ emojis['AI']|safe }}";

                let cell2 = row.insertCell(-1);
                cell2.id = `player_session_${player_id}`;
                cell2.innerText = `${socket_id}`;
            });

            socket.on("win", ({ player_id, player_name }) => {
                if(player_name !== null) {
                    set_message(`${player_name} Won`);

                    let player_type = document.getElementById(`player_type_${player_id}`);
                    player_type.innerHTML = player_type.innerHTML + "{{ emojis['WIN']|safe }}";
                } else {
                    set_message("Tie");
                }

                document.getElementById("join_container").remove();
            });

            socket.on("play", ({ tile, emoji_board }) => {
                if(tile != null) {
                    set_message("Playing");
                }

                update_board(emoji_board);
            });
        </script>
    </head>
    <body>
        {% include "nav.html" %}

        <br/>

        <div class="d-flex justify-content-center">
            <div id="message" class="alert alert-dark text-center">
                {% if game.complete %}
                {% if game.winner == None %}
                Tie
                {% else %}
                {{ game.winner.name }} Won
                {% endif %}
                {% elif game.started %}
                Playing
                {% else %}
                Waiting for Players
                {% endif %}
            </div>
        </div>

        <br/>
        {% set board=game.pretty_board %}
        {% include "board.html" %}
        <br/>

        <table id="players" class="table table-bordered d-flex justify-content-center">
            <tr>
                <th>Player</th>
                <th>Type</th>
                <th>Session</th>
            </tr>
            {% for session in game.sessions %}
            <tr>
                <td id="player_id_{{ session.player.id }}"><a href="/player/{{ session.player.id }}">{{ session.player.name }}</a></td>
                <td id="player_type_{{ session.player.id }}">{% if session.player_type == "human" %}{{ emojis['HUMAN']|safe }}{% else %}{{ emojis['AI']|safe }}{% endif %}{% if session.winner %}{{ emojis['WIN']|safe }}{% endif %}</td>
                <td id="player_session_{{ session.player.id }}">{{ session.socket_id }}</td>
            </tr>
            {% endfor %}
        </table>

        <br />
        {% if not game.complete %}
        <div id="join_container" class="d-flex justify-content-center">
            <a target="_blank" href="/play/{{ game.id }}"><button class="btn btn-primary">Join</button></a>
        </div>
        {% endif %}
    </body>
</html>
