<html>
    <head>
        {% include "head.html" %}

        <script type="text/javascript" src="/game.js"></script>
        <script type="text/javascript">
            const GAME_UUID = "{{ game_uuid }}";
        </script>
        <script type="text/javascript" charset="utf-8">
            let socket = io();

            socket.on("connect", () => {
                socket.emit("view", {game_uuid: GAME_UUID});
            });

            socket.on("error", handle_error);

            socket.on("join", ({ player_uuid, player_type }) => {
                set_message(`${player_uuid} Joined`)

                let table = document.getElementById("players");
                let row = table.insertRow(-1);
                let cell0 = row.insertCell(-1);
                cell0.id = `player_uuid_${player_uuid}`;
                cell0.innerHTML = `<a href="/player/${player_uuid}">${player_uuid}</a>`;

                let cell1 = row.insertCell(-1);
                cell1.id = `player_type_${player_uuid}`;
                cell1.innerHTML = (player_type == "human") ? "&#x1f466;" : "&#129302;";
            });

            socket.on("win", ({ player_uuid }) => {
                if(player_uuid !== null) {
                    set_message(`${player_uuid} Won`);

                    let player_type = document.getElementById(`player_type_${player_uuid}`);
                    player_type.innerHTML = player_type.innerHTML + "&#x1f451;";
                } else {
                    set_message("Tie");
                }

                document.getElementById("join_container").remove();
            });

            socket.on("play", ({ player_uuid, emoji_board }) => {
                if(player_uuid != null) {
                    set_message("Playing");
                }

                update_board(emoji_board);
            });
        </script>
    </head>
    <body>
        {% include "nav.html" %}

        <br/>

        <div class="d-flex justify-content-center">
            <div id="message" class="alert alert-dark text-center">
                {% if is_complete %}
                {% if winner == None %}
                Tie
                {% else %}
                {{winner}} Won
                {% endif %}
                {% elif playing %}
                Playing
                {% else %}
                Waiting for Players
                {% endif %}
            </div>
        </div>

        <br/>
        {% include "board.html" %}
        <br/>

        <table id="players" class="table table-bordered d-flex justify-content-center">
            <tr>
                <th>Player</th>
                <th>Type</th>
            </tr>
            {% for player in players %}
            <tr>
                <td id="player_uuid_{{ player.uuid }}"><a href="/player/{{ player.uuid }}">{{ player.uuid }}</a></td>
                <td id="player_type_{{ player.uuid }}">{% if player.type == "human" %}&#x1f466;{% else %}&#129302;{% endif %}{% if winner == player.uuid %}&#x1f451;{% endif %}</td>
            </tr>
            {% endfor %}
        </table>

        <br />
        {% if not is_complete %}
        <div id="join_container" class="d-flex justify-content-center">
            <a target="_blank" href="/play/{{ game_uuid }}"><button class="btn btn-primary">Join</button></a>
        </div>
        {% endif %}
    </body>
</html>
