<html>
    <head>
        {% include "head.html" %}

        <script type="text/javascript" src="/game.js"></script>
        <script type="text/javascript">
            const GAME_ID = "{{ game.id }}";
        </script>
        <script type="text/javascript" charset="utf-8">
            let socket = io();

            socket.on("connect", () => {
                socket.emit("view", { game_id: GAME_ID });
            });

            socket.on("error", handle_error);

            socket.on("join", ({ tile_emoji, player_id, player_name, player_type, socket_id }) => {
                set_message(`${player_name} Joined`)

                let table = document.getElementById("players");
                let row = table.insertRow(-1);
                let cell = row.insertCell(-1);
                cell.id = `player_id_${player_id}`;
                cell.innerHTML = `<a href="/player/${player_id}">${player_name}</a>`;

                cell = row.insertCell(-1);
                cell.id = `player_tile_${player_id}`;
                cell.innerHTML = tile_emoji;

                cell = row.insertCell(-1);
                cell.id = `player_type_${player_id}`;
                cell.innerHTML = (player_type == "human") ? "{{ emojis['HUMAN']|safe }}" : "{{ emojis['AI']|safe }}";

                cell = row.insertCell(-1);
                cell.id = `player_rank_${player_id}`;
                cell.innerHTML = "{{ emojis['UNKNOWN']|safe }}";

                cell = row.insertCell(-1);
                cell.id = `player_session_${player_id}`;
                cell.innerText = `${socket_id}`;
            });

            socket.on("win", ({ ranks }) => {
                set_message("Game Complete");

                Object.entries(ranks).forEach(([player_id, rank]) => {
                    let player_rank = document.getElementById(`player_rank_${player_id}`);
                    player_rank.innerHTML = rank;
                });

                document.getElementById("join_container").remove();
            });

            socket.on("play", ({ tile, emoji_board }) => {
                if(tile != null) {
                    set_message("Playing");
                }

                update_board(emoji_board);
            });
        </script>
    </head>
    <body>
        {% include "nav.html" %}

        <br/>

        <div class="d-flex justify-content-center">
            <div id="message" class="alert alert-dark text-center">
                {% if game.complete %}
                Game Complete
                {% elif game.started %}
                Playing
                {% else %}
                Waiting for Players
                {% endif %}
            </div>
        </div>

        <br/>
        {% set board=game.pretty_board %}
        {% include "board.html" %}
        <br/>

        <table id="players" class="table table-bordered d-flex justify-content-center">
            <tr>
                <th>Player</th>
                <th>Tile</th>
                <th>Type</th>
                <th>Rank</th>
                <th>Session</th>
            </tr>
            {% for session in game.sessions %}
            <tr>
                <td id="player_id_{{ session.player.id }}"><a href="/player/{{ session.player.id }}">{{ session.player.name }}</a></td>
                <td id="player_tile_{{ session.player.id }}">{{ emojis[session.tile.name]|safe }}</td>
                <td id="player_type_{{ session.player.id }}">{% if session.player_type == "human" %}{{ emojis['HUMAN']|safe }}{% else %}{{ emojis['AI']|safe }}{% endif %}</td>
                <td id="player_rank_{{ session.player.id }}">
                    {% if session.game.complete %}
                    {% if session.win %}
                    {{ emojis['WIN']|safe }}
                    {% elif session.tie %}
                    {{ emojis['TIE']|safe }}
                    {% else %}
                    {{ session.rank }}
                    {% endif %}
                    {% else %}
                    {{ emojis['UNKNOWN']|safe }}
                    {% endif %}
                </td>
                <td id="player_session_{{ session.player.id }}">{{ session.socket_id }}</td>
            </tr>
            {% endfor %}
        </table>

        <br />
        {% if not game.complete %}
        <div id="join_container" class="d-flex justify-content-center">
            <a target="_blank" href="/play/{{ game.id }}"><button class="btn btn-primary">Join</button></a>
        </div>
        <br/>
        <p class="text-center">OR</p>
        <div class="mx-4">{% include "aijoin.html" %}</div>
        {% endif %}
    </body>
</html>
