<html>
    <head>
        {% include "head.html" %}

        <script type="text/javascript" charset="utf-8">
            const game_uuid = "{{ game_uuid }}";

            let socket = io();
            let player_id = null;

            socket.on("connect", () => {
                socket.emit("view", {game_uuid});
            });

            socket.on("view", data => {
                if(data.error) {
                    window.location.replace("/");
                }
            });

            socket.on("join", data => {
                if(data.error) {
                    let message = document.getElementById("message");
                    message.innerText = data.error;
                    player_id = null;
                    return;
                }

                if(data.player_id == player_id) {
                    let message = document.getElementById("message");
                    message.innerText = `Waiting for Opponent`;

                    document.getElementById("join_container").remove();
                    document.getElementById("board_container").classList.remove("d-none");

                    addTileClick();
                }
            });

            socket.on("win", data => {
                window.location.replace("/view/{{game_uuid}}");
            });

            function addTileClick() {
                document.querySelectorAll("[id^=game_board_]").forEach(node => {
                    node.onclick = playHandler;
                    node.classList.add("cursor-pointer");
                });
            }

            function removeTileClick() {
                document.querySelectorAll("[id^=game_board_]").forEach(node => {
                    node.onclick = null;
                    node.classList.remove("cursor-pointer");
                });
            }

            socket.on("play", data => {
                if(data.error) {
                    let message = document.getElementById("message");
                    message.innerText = data.error;
                    return;
                }

                if(player_id == null) return;

                if(data.player_id == player_id) {
                    let message = document.getElementById("message");
                    message.innerText = "Your Turn";
                    addTileClick();
                } else {
                    let message = document.getElementById("message");
                    message.innerText = "Opponent's Turn";
                    removeTileClick();
                }

                let board = data.pretty_board;

                for(let i = 0; i < board.length; i++) {
                    for(let j = 0; j < board[i].length; j++) {
                        let id = `game_board_${i}_${j}`;
                        let td = document.getElementById(id);

                        td.innerHTML = board[i][j];
                    }
                }
            });

            function joinHandler() {
                let pid = document.getElementById("player_id");
                player_id = pid.value;
                join(pid.value);
            }

            function playHandler(event) {
                let tile_id = event.target.id;
                let split = tile_id.split("_");
                let move = [parseInt(split[3]), parseInt(split[2])];
                console.log(move);
                play(move);
            }

            function join(player_id) {
                socket.emit("join", {player_id, game_uuid});
            }

            function play(move) {
                socket.emit("play", {player_id, move});
            }
        </script>
    </head>
    <body>
        {% include "nav.html" %}

        <br/>
        <div class="d-flex justify-content-center">
            <div id="message" class="alert alert-dark text-center">
                Join Game
            </div>
        </div>

        
        <div id="board_container" class="d-none">
        <br/>
        {% include "board.html" %}
        <br/>
        </div>
        

        <div id="join_container" class="mx-4">
            <div class="card p-4">
                <label for="player_id">Player Id:</label>
                <input id="player_id" class="form-control" />
                <br/>
                <button class="btn btn-primary" onclick="joinHandler()">Join</button>
            </div>

            <br/>
            <p class="text-center">OR</p>

            <div class="card p-4">
                <pre class="m-0">python3 main.py client ai PLAYER_ID {{game_uuid}}</pre>
                <pre class="m-0">python3 main.py client human PLAYER_ID {{game_uuid}}</pre>
            </div>
        </div>
    </body>
</html>
